<p>
    <mat-toolbar color="primary">
      <div>יום  {{myDate|date:"dd.MM.yy"}}</div>
      <!-- <div>יום  {{myDate|date:"dd.MM.yy"}}  {{myDateEbrue}}</div> -->
      <mat-icon>account_circle</mat-icon>
      <span>שלום אסתי</span>
      <mat-icon>restore</mat-icon>
      <mat-icon>assignment</mat-icon>
      <span>הגדרות</span>
      <mat-icon>settings</mat-icon>
      <span class="example-spacer"></span>
      <div class="tahal">
        <div>תהל</div>
        <mat-icon>share</mat-icon>
      </div>
    </mat-toolbar>
  </p>