

  <section class="all">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="חפש" >
      <mat-icon>search</mat-icon>
    </mat-form-field>

    <div dir="rtl" class="myClass"> 
      <button mat-button>הוספת מוסד
        <mat-icon>stars</mat-icon>
      </button>  
      <button mat-button>ייצוא לאקסל
        <mat-icon>verified_user</mat-icon>
      </button>
      <button mat-button>נקה בחירה
        <mat-icon>refresh</mat-icon>
      </button>
      <button mat-button>
          	<mat-icon>settings_brightness</mat-icon>
      </button>
    </div>
  </section>


